version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
      include: "scope"
    labels:
      - "dependencies"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
    labels:
      - "ci"
    open-pull-requests-limit: 5

  - package-ecosystem: "pip"
    directory: "/aws/lambda"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "deps(aws)"
    labels:
      - "dependencies"
      - "aws"
    open-pull-requests-limit: 5
